<div class="col-md-12">
    <div class="form-group col-md-4 select-container">
        <select class="form-control"
                required
                ng-options="verticalMarket as verticalMarket.name for verticalMarket in verticalMarkets"
                ng-model="selectedCategory.selectedVerticalMarket">
            <option value=""></option>
        </select>
    </div>

    <div class="form-group col-md-4 select-container">
        <select class="form-control"
                required
                ng-options="businessUnit as businessUnit.name for businessUnit in businessUnits"
                ng-model="selectedCategory.selectedBusinessUnit">
            <option value=""></option>
        </select>
    </div>

    <div class="form-group col-md-3">
        <select class="form-control"
                required
                ng-options="category as category.name for category in categories"
                ng-model="selectedCategory.selectedCategory">
            <option value=""></option>
        </select>
    </div>

    <div class="col-md-1">
        <a ng-click="remove()">Remove</a>
    </div>
</div>