<div style="max-width: 1280px">
    <form class="form-horizontal" novalidate
          name="supplierForm">
        <fieldset>
            <legend>Supplier Company Registration</legend>
            <div class="row">
                <div class="col-md-6">
                    <image-upload image-source="vm.imageSource" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6"
                     ng-class="{'has-error': supplierForm.inputCompanyName.$invalid &&
                                             supplierForm.inputCompanyName.$dirty}">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label" for="inputCompanyName">Company Name</label>
                        </div>
                        <div class="col-md-8"
                             ng-show="supplierForm.inputCompanyName.$invalid &&
                                  supplierForm.inputCompanyName.$dirty">
                            <span class="help-block has-error">
                                <span class="pull-right" ng-show="supplierForm.inputCompanyName.$error.required">
                                    Company Name is required
                                </span>
                                <span class="pull-right" ng-show="supplierForm.inputCompanyName.$error.minlength">
                                    Company Name must be at least 3 characters in length
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" id="inputCompanyName"
                               name="inputCompanyName" type="text"
                               placeholder="Company Name (required)"
                               required
                               ng-minlength="3"
                               ng-model="vm.supplierCompany.companyName" />
                    </div>
                </div>
                <div class="form-group col-md-6"
                     ng-class="{'has-error': supplierForm.inputCompanyLegalStatus.$invalid &&
                                             supplierForm.inputCompanyLegalStatus.$dirty}">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label" for="inputCompanyLegalStatus">Company Legal Status</label>
                        </div>
                        <div class="col-md-8"
                             ng-show="supplierForm.inputCompanyLegalStatus.$invalid &&
                                  supplierForm.inputCompanyLegalStatus.$dirty">
                            <span class="help-block has-error">
                                <span class="pull-right" ng-show="supplierForm.inputCompanyLegalStatus.$error.required">
                                    Company Legal Status is required
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <select class="form-control" id="inputCompanyLegalStatus"
                                name="inputCompanyLegalStatus"
                                required
                                ng-model="vm.supplierCompany.companyLegalStatus">
                            <option ng-repeat="status in vm.companyLegalStatuses" value="{{status}}">{{status}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label class="control-label">Vertical Market -> Business Unit -> Category</label>
                    </div>
                </div>
            </div>
            <div class="row" ng-repeat="category in vm.supplierCompany.categories track by $index">
                <category-select selected-category="vm.supplierCompany.categories[$index]" on-remove="vm.removeCategory($index)" />
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <a ng-click="vm.addCategory()">Add</a>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <div class="form-group col-md-6"
                     ng-class="{'has-error': supplierForm.inputNumberOfEmployees.$invalid &&
                                             supplierForm.inputNumberOfEmployees.$dirty}">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label" for="inputNumberOfEmployees">Number Of Employees</label>
                        </div>
                        <div class="col-md-8"
                             ng-show="supplierForm.inputNumberOfEmployees.$invalid &&
                                  supplierForm.inputNumberOfEmployees.$dirty">
                            <span class="help-block has-error">
                                <span class="pull-right" ng-show="supplierForm.inputNumberOfEmployees.$error.required">
                                    Number Of Employees is required
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <select class="form-control" id="inputNumberOfEmployees"
                                name="inputNumberOfEmployees"
                                required
                                ng-model="vm.supplierCompany.numberOfEmployees">
                            <option ng-repeat="numberOfEmployees in vm.numberOfEmployeesSet" value="{{numberOfEmployees}}">{{numberOfEmployees}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6"
                     ng-class="{'has-error': supplierForm.inputWebSite.$invalid &&
                                             supplierForm.inputWebSite.$dirty}">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label" for="inputWebSite">Web Site</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" id="inputWebSite"
                               name="inputWebSite" type="text"
                               placeholder="Web Site"
                               ng-model="vm.supplierCompany.webSite" />
                    </div>
                </div>
                <div class="form-group col-md-6"
                     ng-class="{'has-error': supplierForm.inputCompanyPhone.$invalid &&
                                             supplierForm.inputCompanyPhone.$dirty}">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label" for="inputCompanyPhone">Company Phone</label>
                        </div>
                        <div class="col-md-8"
                             ng-show="supplierForm.inputCompanyPhone.$invalid &&
                                  supplierForm.inputCompanyPhone.$dirty">
                            <span class="help-block has-error">
                                <span class="pull-right" ng-show="supplierForm.inputCompanyPhone.$error.required">
                                    Company Phone is required
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" id="inputCompanyPhone"
                               name="inputCompanyPhone" type="text"
                               placeholder="Company Phone (required)"
                               required
                               ng-model="vm.supplierCompany.companyPhone" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6"
                     ng-class="{'has-error': supplierForm.inputCity.$invalid &&
                                             supplierForm.inputCity.$dirty}">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label" for="inputCity">Town/City</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" id="inputCity"
                               name="inputCity" type="text"
                               placeholder="Town/City"
                               ng-model="vm.supplierCompany.city" />
                    </div>
                </div>
                <div class="form-group col-md-6"
                     ng-class="{'has-error': supplierForm.inputRegion.$invalid &&
                                             supplierForm.inputRegion.$dirty}">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label" for="inputRegion">Country Region</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" id="inputRegion"
                               name="inputRegion" type="text"
                               placeholder="Country Region"
                               ng-model="vm.supplierCompany.region" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6"
                     ng-class="{'has-error': supplierForm.inputZipCode.$invalid &&
                                             supplierForm.inputZipCode.$dirty}">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label" for="inputZipCode">Post/Zip Code</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" id="inputZipCode"
                               name="inputZipCode" type="text"
                               placeholder="Post/Zip Code"
                               ng-model="vm.supplierCompany.zipCode" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <button class="btn btn-primary btn-save"
                                ng-click="submit()"
                                ng-disabled="supplierForm.$invalid">
                            Save
                        </button>
                        <button class="btn btn-default btn-cancel"
                                ng-click="vm.cancel(supplierForm)">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>